---
import Button from '@/atoms/Button.astro';

const { title, slug, thumbnail, description, accentColor } = Astro.props;
---

<a href={`/blog/${slug}`} class="blog-card">
  <figure class="blog-card__image">
    <img class="blog-card__image-el" loading="lazy" src={thumbnail} alt={title} />
  </figure>

  <div class="blog-card__content">
    <span class="h3 blog-card__title">{title}</span>
    <p class="blog-card__description">{description}</p>
    <Button tag="span" color={accentColor} text="Read more" small={true} />
  </div>
</a>

<style lang="scss">
  @import '@/scss/resources/breakpoints';

  .blog-card {
    --blog-card-description-margin: var(--spacer-s);
    --blog-card-content-gap: var(--spacer-s);

    @media screen and (min-width: $breakpoint-tablet) {
      --blog-card-description-margin: var(--spacer-m);
      --blog-card-content-gap: var(--spacer-m);
    }

    display: flex;
    flex-direction: column;
    color: var(--color-black);
    gap: var(--blog-card-content-gap);
    text-decoration: none;

    @media screen and (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }

    &__image {
      width: 100%;
      flex-shrink: 0;

      @media screen and (min-width: $breakpoint-tablet) {
        max-width: 25rem;
      }
    }

    &__title {
      display: block;
      margin-bottom: var(--spacer-xs);
    }

    &__description {
      margin-bottom: var(--blog-card-description-margin);
    }
  }
</style>
