---
import IconBurger from '@/icons/IconBurger.astro';
import IconClose from '@/icons/IconClose.astro';
// import MenuItem from '@/atoms/MenuItem.astro';
import SocialIcons from '@/components/SocialIcons.astro';

const menuItems = [
  {
    name: 'Home',
    slug: '#',
    classSuffix: 'home',
  },
  {
    name: 'Projects',
    slug: '#projects',
    classSuffix: 'projects',
  },
  {
    name: 'About',
    slug: '#about',
    classSuffix: 'about',
  }
];

const contactMenuItems = [
  {
    name: 'lauraricher@gmail.com',
    slug: 'mailto:lauraricher@gmail.com',
    classSuffix: 'email',
  },
  {
    name: '07891384298',
    slug: 'tel:07891384298',
    classSuffix: 'phone',
  }
];
---

<header class="header">
  <div class="header__container">
    <a href="#" class="header__title">Laura Richer</a>
    <span class="header__menu-icon header__menu-icon--open-btn" role="button" aria-label="Open menu">
      <IconBurger />
    </span>
  </div>

  <div class="header__menu">
    <span class="header__menu-icon header__menu-icon--close-btn" role="button" aria-label="Close menu">
      <IconClose />
    </span>

    <nav class="header__menu-items">
      {menuItems.map((menuItem) =>
        <div class="header__menu-item">
          <a href={menuItem.slug} class={`header__menu-link header__menu-link--${menuItem.class}`}>{menuItem.name}</a>
        </div>
      )}

      <span class="header__menu-item"><SocialIcons /></span>

      {contactMenuItems.map((contactMenuItem) =>
        <div class="header__menu-item">
          <a href={contactMenuItem.slug} class={`header__menu-link header__menu-link--small header__menu-link--${contactMenuItem.class}`}>{contactMenuItem.name}</a>
        </div>
      )}
    </nav>
  </div>
</header>

<script>
  const menuButton = document.querySelectorAll('.header__menu-icon');
  const menu = document.querySelector('.header__menu');
  const navItems = document.querySelectorAll('.header__menu-item');

  const handleToggleMenu = () => {
    menu.classList.toggle('header__menu--active');
  };

  menuButton.forEach(button => {
    button.addEventListener('click', handleToggleMenu);
  });

  navItems.forEach(item => {
    item.addEventListener('click', handleToggleMenu);
  });
</script>

<style lang="scss">
@import '../scss/resources/breakpoints';
@import '../scss/resources/hover';

.header {
  $self: &;
  --header-padding: var(--spacer-s);

  @media screen and (min-width: $breakpoint-mobile) {
    --header-padding: var(--spacer-s) calc(var(--spacer-s) * 2);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: var(--header-padding);
    background-color: var(--color-black-alpha);
  }

  &__title {
    position: relative;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-logo);
    font-size: 2.8rem;
    line-height: 3.8rem;

    @include hover-state('Laura Richer', var(--color-purple));
  }

  &__menu-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: color var(--animation-speed) ease-in-out;

    &--open-btn {
      @include hover {
        color: var(--color-purple);
      }
    }

    &--close-btn {
      margin-left: auto;

      @include hover {
        color: var(--color-grey-dark);
      }
    }
  }

  &__menu {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    padding: var(--header-padding);
    background-color: var(--color-purple);
    color: var(--color-white);
    transform: translateX(100%);
    transition: transform var(--animation-speed) ease-in-out;

    &--active {
      transform: translateX(0);
    }

    &-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: var(--spacer-s);
    }

    &-item {
      opacity: 0;

      #{$self}__menu--active & {
        @for $i from 1 through 7 {
          &:nth-child(#{$i}n) {
            opacity: 1;
            transition: opacity 0.5s ease-in #{$i * 0.1}s;
          }
        }
      }

      :global(.social-icons__item:hover),
      :global(.social-icons__item:focus) {
        color: var(--color-grey-dark);
      }
    }

    &-link {
      @include hover-state('', var(--color-grey-dark));

      position: relative;
      align-self: flex-start;
      color: var(--color-white);
      text-decoration: none;
      font-weight: var(--font-weight-bold);
      font-size: 4rem;
      line-height: 4.8rem;

      @media screen and (min-width: $breakpoint-mobile) {
        font-size: 6rem;
        line-height: 7.2rem;
      }

      &--small {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: var(--font-weight-medium);
      }

      &--home {
        &:after {
          content: 'Home';
        }
      }

      &--about {
        &:after {
          content: 'About';
        }
      }

      &--projects {
        &:after {
          content: 'Projects';
        }
      }

      &--playground {
        &:after {
          content: 'Playground';
        }
      }

      &--blog {
        &:after {
          content: 'Blog';
        }
      }

      &--contact {
        &:after {
          content: 'Contact';
        }
      }

      &--email {
        &:after {
          content: 'lauraricher@gmail.com';
        }
      }

      &--phone {
        &:after {
          content: '07891384298';
        }
      }
    }
  }
}
</style>
