---
import * as about from '@/content/sections/about.md';
import * as contact from '@/content/config/contact.md';

import SectionHeader from '@/components/SectionHeader.astro';

const { title, stack, accentColor } = about.frontmatter;
const { email, phone } = contact.frontmatter;


const getFilenameFromPath = path => /[^/]*$/.exec(path)[0];
const stackIcons = await Astro.glob('../icons/stack/*.astro');

const projectStackIcons = stack.map(stackItem => {
  return {
    icon: stackIcons.find(
      icon => getFilenameFromPath(icon.file) === `Icon${stackItem.title}.astro`
    ),
    link: stackItem.link,
    title: stackItem.title
  }
});
---

<section id="about" class="about">
  <div class="container animate-section">
    <SectionHeader
      title={title}
      titleColor={accentColor}
    />

    <div class="about__stack">
      {projectStackIcons.map((projectStackIcon) =>
        <a href={projectStackIcon.link} target="_blank" rel="noopener noreferrer" aria-label={projectStackIcon.title} class="about__stack-icon">
          <projectStackIcon.icon.default />
        </a>
      )}
    </div>

    <div class="about__grid">
      <div class="about__content markdown">
        <about.Content />
      </div>

      <div class="about__contact">
        <div class="about__contact-item">
          <a href={`mailto:${email}`} class="about__contact-link about__contact-link--email">{email}</a>
        </div>
        <div class="about__contact-item">
          <a href={`tel:${phone}`} class="about__contact-link about__contact-link--phone">{phone}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
@import '../scss/resources/breakpoints';
@import '../scss/resources/hover';

.about {
  &__grid {
    display: grid;
    gap: var(--spacer-l);

    @media screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: 2fr 1fr;
      gap: var(--spacer-xl);
    }
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-s);
    max-width: 60rem;
    margin: 0 auto var(--spacer-l);

    &-icon {
      display: block;
      height: 3rem;
      transition: scale var(--animation-speed) ease-in-out;

      :global(svg),
      :global(img) {
        width: auto;
        height: 100%
      }

      &:hover {
        scale: 1.1;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-m);

    @media screen and (min-width: $breakpoint-tablet) {
      gap: var(--spacer-s);
    }

    @media screen and (min-width: $breakpoint-desktop) {
      gap: var(--spacer-m);
    }

    &-link {
      @include hover-state('', var(--color-blue));
      position: relative;
      text-decoration: none;
      color: currentColor;
      text-decoration: none;
      font-weight: var(--font-weight-bold);
      font-size: 3rem;
      line-height: 3rem;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        font-size: 2.8rem;
        line-height: 3.2rem;
      }

      &--email {
        &:after {
          content: 'lauraricher@gmail.com';
        }
      }

      &--phone {
        &:after {
          content: '07891384298';
        }
      }
    }
  }
}
</style>
