---
const allBlogPosts = await Astro.glob('../pages/blog/*.md');

import SectionHeader from '@/components/SectionHeader.astro';
import BlogCard from '@/components/BlogCard.astro';

const { title = 'Latest blog posts', count, excludeId } = Astro.props;

const sortedPosts =
  allBlogPosts.sort((a, b) => {
    return a.frontmatter.id - b.frontmatter.id;
  }).reverse();

const filteredPosts = sortedPosts.filter((post) => {
    return post.frontmatter.id !== excludeId;
  })

const mappedPosts = filteredPosts.slice(0, count);
---

<section id="blog" class="blog-list">
  <div class="container animate-section">
    <SectionHeader
      title={title}
      titleColor="blue"
    />

    <div class="blog-list__grid">
      {mappedPosts.map((blog) =>
        <BlogCard
          title={blog.frontmatter.title}
          description={blog.frontmatter.description}
          thumbnail={blog.frontmatter.thumbnail}
          slug={blog.frontmatter.slug}
        />
      )}
    </div>
  </div>
</section>

<style lang="scss">
.blog-list {
  background-color: var(--color-grey);

  &__grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-l);
  }
}
</style>
