---
import * as projects from '@/content/sections/projects.md';
const allProjects = await Astro.glob('../pages/project/*.md');

import SectionHeader from '@/components/SectionHeader.astro';
import ProjectCard from '@/components/ProjectCard.astro';

const { title, accentColor } = projects.frontmatter;

let orderedProjects = allProjects.sort((a, b) => {
  return a.frontmatter.id - b.frontmatter.id;
}).reverse();
---

<section id="projects" class="project-list">
  <div class="container animate-section">
    <SectionHeader
      title={title}
      titleColor={accentColor}
    />

    <div class="project-list__grid">
      {orderedProjects.map((project) =>
        <ProjectCard title={project.frontmatter.title} thumbnail={project.frontmatter.thumbnail} slug={project.frontmatter.slug} />
      )}
    </div>
  </div>
</section>

<style lang="scss">
@import '../scss/resources/breakpoints';

.project-list {
  &__grid {
    display: grid;
    gap: var(--spacer-s);

    @media screen and (min-width: $breakpoint-mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
</style>
